
@{
    Layout = null;
    string controlador = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    Sistema_MVC_Grupo_X.Models.Usuario usuario =
        new Sistema_MVC_Grupo_X.Models.Usuario().Obtener(
            Sistema_MVC_Grupo_X.Models.SessionHelper.GetUser());

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sistema MVC</title>
    <!--Boostrap-->
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <!--Jquery-->
    <script src="~/assets/js/jquery-3.3.0.min.js"></script>
    <!-- jQuery UI CSS Reference -->
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap4-toggle.min.css" rel="stylesheet">
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap4-toggle.min.js"></script>
</head>
<body>
    @if (controlador != "login")
    {
        <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">Sistema Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mantenimiento
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/Semestre/Index">Semestre</a>
                            <a class="dropdown-item" href="~/Criterio/Index">Criterio</a>
                            <a class="dropdown-item" href="~/Docente/Index">Docente</a>
                            <a class="dropdown-item" href="~/Usuario/Index">Usuario</a>
                            <a class="dropdown-item" href="~/Modelo/Index">Modelo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Asignacion/Index">Asignación</a>
                            <a class="dropdown-item" href="~/Control/Index">Control</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Consultas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/Semestre/Index">Semestre</a>
                            <a class="dropdown-item" href="~/Criterio/Index">Criterio</a>
                            <a class="dropdown-item" href="~/Docente/Index">Docente</a>
                            <a class="dropdown-item" href="~/Usuario/Index">Usuario</a>
                            <a class="dropdown-item" href="~/Modelo/Index">Modelo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Asignacion/Index">Asignación</a>
                            <a class="dropdown-item" href="~/Control/Index">Control</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reportes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/Semestre/Index">Semestre</a>
                            <a class="dropdown-item" href="~/Criterio/Index">Criterio</a>
                            <a class="dropdown-item" href="~/Docente/Index">Docente</a>
                            <a class="dropdown-item" href="~/Usuario/Index">Usuario</a>
                            <a class="dropdown-item" href="~/Modelo/Index">Modelo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Asignacion/Index">Asignación</a>
                            <a class="dropdown-item" href="~/Control/Index">Control</a>
                        </div>
                    </li>
                </ul>


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <img id="user-pic" src="~/Avatars/@usuario.avatar" width="40" height="40" />
                            <b>Bienvenido : </b> @usuario.Docente.nombre @usuario.Docente.apellido <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="~/Perfil/index">Perfil de Usuario</a>
                            <a class="dropdown-item" href="~/Login/logout">Cerrar Sesión</a>
                        </div>

                    </li>
                </ul>

            </div>
        </nav>
    }
    <div class="container">
        <h1 class="jumbotron">
            Sistema MVC
        </h1>
        @RenderBody()
    </div>
    <!--Boostrap-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!--ResponseModel-->
    <script src="~/Assets/js/ini.js"></script>
    <script src="~/Assets/js/jquery.form.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/jquery.validate.unobtrusive.min.js"></script>


</body>
</html>

<script type="text/javascript">
    $(function () {
        // Reset language
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional["es"]);
        // This will make every element with the id "date-picker" into a DatePicker element
        $('#date-picker').datepicker();
    });
    $(function () {
        $('#estadoCheckbox').change(function () {
            //$('#estado').html('A'.prop('checked'))
            var hi = document.getElementById("estado");
            if (hi.value == "I" || hi.value == null) {
                hi.value = "A";
            } else {
                hi.value = "I";
            }
        })
    })
</script>