@model List<Sistema_MVC_Grupo_X.Models.Semestre>
@{
    ViewBag.Title = "Index";
}

<h2 class="card text-center">Gestión de Semestres</h2>
<br />
<div class="text-right">
    <a href="~/Semestre/AgregarEditar/" class="btn btn-secondary text-right">
        Nuevo Registro
    </a>
</div>
<br />
<table class="table" id="tablaIndex" style="width:100%">
    <thead>
        <tr>
            <th style="width:50px; text-align:center">Id</th>
            <th style="width:100px; text-align:center">Semestre</th>
            <th style="width:70px; text-align:center">Anio</th>
            <th style="width:80px; text-align:center">Estado</th>
            <th style="width:200px; text-align:center">Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <th style="text-align:center">@(s.semestre_id)</th>
                <th style="text-align:center">@(s.nombre)</th>
                <th style="text-align:center">@(s.anio)</th>
                <th style="text-align:center">@(s.estado == "A" ? "Activo" : "Inactivo")</th>
                <th style="text-align:center; align-content:center">
                    <a href="~/Semestre/Visualizar/@s.semestre_id"
                       class="btn btn-xs btn-warning" style="padding:inherit">Visualizar</a>
                    <a href="~/Semestre/AgregarEditar/@s.semestre_id"
                       class="btn btn-xs btn-primary" style="padding:inherit">Modificar</a>
                    <a href="~/Semestre/Eliminar/@s.semestre_id"
                       class="btn btn-xs btn-danger" style="padding:inherit"
                       onclick="return confirm('¿Esta seguro de eliminar ...?');">Eliminar</a>
                </th>
            </tr>
        }
    </tbody>
</table>
<hr />