@model List<Sistema_MVC_Grupo_X.Models.Semestre>
@{
    ViewBag.Title = "Index";
}

<h2 class="card text-center">Gestión de Semestres</h2>
<br />
<div class="text-right">
    <a href="~/Semestre/AgregarEditar/" class="btn btn-secondary text-right">
        Nuevo Registro
    </a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th style="width:50px">Id</th>
            <th style="width:100px">Semestre</th>
            <th style="width:70px">Anio</th>
            <th style="width:80px">Estado</th>
            <th style="width:200px">Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <th>@(s.semestre_id)</th>
                <th>@(s.nombre)</th>
                <th>@(s.anio)</th>
                <th>@(s.estado == "A" ? "Activo" : "Inactivo")</th>
                <th style="text-align:center; align-content:center">
                    <a href="~/Semestre/Visualizar/@s.semestre_id"
                       class="btn btn-xs btn-warning">Visualizar</a>
                    <a href="~/Semestre/AgregarEditar/@s.semestre_id"
                       class="btn btn-xs btn-primary">Modificar</a>
                    <a href="~/Semestre/Eliminar/@s.semestre_id"
                       class="btn btn-xs btn-danger"
                       onclick="return confirm('¿Esta seguro de eliminar ...?');">Eliminar</a>
                </th>


            </tr>
        }
    </tbody>
</table>