@model IEnumerable<Sistema_MVC_Grupo_X.Models.Criterio>

@using (Html.BeginForm("Index", "Estudiante", FormMethod.Post, new { id = "frm-Estudiante" }))
{ 
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.CheckBox("Modelo",item.modelo_id)
            </td>
        </tr>
    }
}
