@model List<Sistema_MVC_Grupo_X.Models.Docente>
@{
    ViewBag.Title = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Gestión de Docentes
        <small>docentes ...</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Docente</a></li>
        <li class="active"> Index</li>
    </ol>
</section>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content container-fluid">
    <div class="box">
        <div class="box-header with-border">
            <div class="text-right">
                <a href="~/Docente/AgregarEditar/" class="btn btn-success text-right">Nuevo Registro</a>
            </div>
            <br />
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:40px; text-align:center">Id</th>
                        <th style="width:150px; text-align:center">Docente</th>
                        <th style="width:150px; text-align:center">Email - Celular</th>
                        <th style="width:50px; text-align:center">Estado</th>
                        <th style="width:150px; text-align:center">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model)
                    {
                        <tr>
                            <th style="text-align:center">@(d.docente_id)</th>
                            <th style="text-align:center">@(d.nombre + " " + d.apellido)</th>
                            <th style="text-align:center">@(d.email + " / " + d.celular)</th>
                            <th style="text-align:center">@(d.estado == "A" ? "Activo" : "Inactivo")</th>
                            <th style="text-align:center; align-content:center">
                                <a href="~/Docente/Visualizar/@d.docente_id"
                                   class="btn btn-xs btn-warning">Visualizar</a>
                                <a href="~/Docente/AgregarEditar/@d.docente_id"
                                   class="btn btn-xs btn-primary">Modificar</a>
                                <a href="~/Docente/Eliminar/@d.docente_id"
                                   class="btn btn-xs btn-danger"
                                   onclick="return confirm('¿Esta seguro de eliminar ...?');">Eliminar</a>
                            </th>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>