@model List<Sistema_MVC_Grupo_X.Models.Modelo>
@{
    ViewBag.Title = "Index";
}

<h2 class="card text-center">Gestión de Modelo</h2>
<br />
<div class="text-right">
    <a href="~/Modelo/AgregarEditar/" class="btn btn-secondary text-right">
        Nuevo Registro
    </a>
</div>
<br />
<table class="table" id="tablaIndex" style="width:100%">
    <thead>
        <tr>
            <th style="width:100px; text-align:center">Id</th>
            <th style="width:200px; text-align:center">Nombre</th>
            <th style="width:200px; text-align:center">Estado</th>
            <th style="width:200px; text-align:center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <th style="text-align:center">@(m.modelo_id)</th>
                <th style="text-align:center">@(m.nombre)</th>
                <th style="text-align:center">@(m.estado == "A" ? "Activo" : "Inactivo")</th>
                <th style="text-align:center; align-content:center">
                    <a href="~/Modelo/Visualizar/@m.modelo_id"
                       class="btn btn-xs btn-warning" style="padding:inherit">Visualizar</a>
                    <a href="~/Modelo/AgregarEditar/@m.modelo_id"
                       class="btn btn-xs btn-primary" style="padding:inherit">Modificar</a>
                    <a href="~/Modelo/Eliminar/@m.modelo_id"
                       class="btn btn-xs btn-danger" style="padding:inherit"
                       onclick="return confirm('¿Esta seguro de eliminar ...?');">Eliminar</a>
                </th>
            </tr>
        }
    </tbody>
</table>
<hr />